.contact-page {
    display: flex;
    justify-content:c;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    padding-top: 5px;
    flex-wrap: wrap;
  }


.contact-page-wrapper {
    position: relative;
    background-color: #fe9e0d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    width: 520px;
    height: 500px; 
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30px;
}

@media screen and (max-width: 564px) {

  .contact-page{
    height: auto;
  }
  .contact-page-wrapper {
    position: static;
      height:auto; /* Altura automática para adaptarse al contenido */
      border-radius: 10px; /* Eliminar el redondeo */
      text-align: center;
      margin: 20px auto;
      padding: 20px;
      margin-bottom: 20px; 

  }
  .contact-textarea {
    height: 100px;
}

.contact-input{
  margin: 2px;
}


}

.contact-form-container{

  margin-top: 30px;
}
.text-contacto, .tex-card-gift1{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 1px;
    color: #505050;
    font-weight: 600;

}


.contact-input,
.contact-textarea
 {
    width: 90%;
    padding: 8px;
    margin: 5px 0 ;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius:30px;
    outline: none;
    
    
}

.button-contacto {
    height: 50px;
    padding: 10px 20px;
    background-color: #884A39;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    border-radius: 5rem;
    transition: 0.2s;
    


}

.contact-textarea {
    resize: vertical;
    height: 100px;
  margin-bottom: 10px;
}

.contact-card {
    width: 600px;
    height: 450px; 
    background-color: #f0d7d7;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    text-align: center;
  }
  .tex-card-gift2{
    color: #403f3f;
    padding-bottom: 35px;
  }
  .tarjeta-regalo{
    max-width: 500px;
    max-height: 450px; 
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.906);
    margin-left: 50px;
    

  }